.h2{color: yellow;background-color: blueviolet;
border: solid 3px red;}

    .border{border: solid 3px green;
    background-color: yellow;}
    .div1{color: brown;
    border: solid 3px red;
background-color: yellow;}

    .div2{color: green;
        border: solid 3px green;
        background-color: tomato;
        border-radius: 30px;
        margin-top: 30px;

}